<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="assignmentFile" value="C:\Users\jboard\Documents\GitHub\Affirm\data\out\assignments_1.csv"/>
    <add key="yeildFile" value="C:\Users\jboard\Documents\GitHub\Affirm\data\out\yeild_1.csv"/>
    <add key="loanFile" value="C:\Users\jboard\Documents\GitHub\Affirm\data\large\loans.csv"/>
    <add key="bankFile" value="C:\Users\jboard\Documents\GitHub\Affirm\data\large\banks.csv"/>
    <add key="covenentFile" value="C:\Users\jboard\Documents\GitHub\Affirm\data\large\covenants.csv"/>
    <add key="facilityFile" value="C:\Users\jboard\Documents\GitHub\Affirm\data\large\facilities.csv"/>
  </appSettings>
</configuration>