<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="assignmentFile" value="C:\Users\jboard\Documents\GitHub\affirm-take-home-interview-march-2017\affirm-take-home-interview 10\small\assignments_1.csv"/>
    <add key="yeildFile" value="C:\Users\jboard\Documents\GitHub\affirm-take-home-interview-march-2017\affirm-take-home-interview 10\small\yeild_1.csv"/>
    <add key="loanFile" value="C:\Users\jboard\Documents\GitHub\affirm-take-home-interview-march-2017\affirm-take-home-interview 10\small\loans.csv"/>
    <add key="bankFile" value="C:\Users\jboard\Documents\GitHub\affirm-take-home-interview-march-2017\affirm-take-home-interview 10\small\banks.csv"/>
    <add key="covenentFile" value="C:\Users\jboard\Documents\GitHub\affirm-take-home-interview-march-2017\affirm-take-home-interview 10\small\covenants.csv"/>
    <add key="facilityFile" value="C:\Users\jboard\Documents\GitHub\affirm-take-home-interview-march-2017\affirm-take-home-interview 10\small\facilities.csv"/>
  </appSettings>
</configuration>