<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="assignmentFile" value="..\..\..\..\data\out\assignments.csv"/>
    <add key="yeildFile" value="..\..\..\..\data\out\yeild.csv"/>
    <add key="loanFile" value="..\..\..\..\data\large\loans.csv"/>
    <add key="bankFile" value="..\..\..\..\data\large\banks.csv"/>
    <add key="covenentFile" value="..\..\..\..\data\large\covenants.csv"/>
    <add key="facilityFile" value="..\..\..\..\data\large\facilities.csv"/>
  </appSettings>
</configuration>